body {
  margin: 0;
  background-color: #000000 !important;
  color: #ffffff !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

h1,
h2 {
  color: #d4af37;
}

.gold-text {
  color: #d4af37;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 3px solid #d4af37;
  margin-bottom: 20px;
}

.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  width: 300px;
  margin: 20px;
  border: 2px solid #d4af37;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  height: 200px;
  object-fit: cover;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.custom-button {
  background-color: #d4af37;
  border: none;
  color: #000000;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #d4af37;
}

/* Section Styling */
.section-home,
.section-skills,
.section-about,
.section-contact {
  padding: 20px;
}



/* Skills List Styling */
.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-list li {
  background-color: #333333;
  color: #d4af37;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

/* Helpful Links Styling */
.social-links {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.social-links a {
  font-size: 32px;
  color: #d4af37;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ffffff;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .skills-list {
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }
}

.App {
  text-align: center;
}